body{
  background: #343434;
  margin: 0;
  padding: 0;
    width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body, html {
  height: 100%;
}

.main {
  width: 100%;
  height: 100vh;
  /* background-image: url('https://images.pexels.com/photos/3532540/pexels-photo-3532540.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-group label {
  font-weight: bold;
}

.input-group input,
.input-group select {
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
}

.swap-btn-container {
  position: relative;
  height: 1px;
}

.swap-btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2563eb;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 3px 8px;
  cursor: pointer;
}

.convert-btn {
  width: 100%;
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.convert-btn:hover,
.swap-btn:hover {
  background-color: #1e40af;
}
