body{
  width: 100%;
  height: 100%;
  background: #000;
  padding: 0;
  margin: 0;
}
.main{
  width: 100%;
  height: 100vh;
  background: #343434;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  
}

button{
  padding: 20px;
  margin: 10px;
  cursor: pointer;
}