/* Remove margin/padding & set dark bg */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  background: #0d0d0d;
  color: white;
  font-family: "Poppins", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Proper CENTER 100% working */
.login-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center; /* X-axis center */
  align-items: center;     /* Y-axis center */
  background: #0d0d0d;
}

/* Form box */
form {
  width: 340px;
  padding: 35px;
  border-radius: 14px;
  background: #161616;
  border: 1px solid #2a2a2a;
  box-shadow: 0px 0px 20px rgba(0,255,200,0.08);
}

/* Labels */
form p {
  color: #e2e2e2;
  margin-bottom: 6px;
  font-size: 15px;
  font-weight: 600;
}

/* Inputs */
form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid #333;
  background: #1f1f1f;
  color: #f2f2f2;
  font-size: 15px;
}

/* Focus effect */
form input:focus {
  outline: none;
  border-color: #00ffc8;
  box-shadow: 0 0 6px rgba(0,255,200,0.4);
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  background: #00ffc8;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #000;
  transition: 0.2s ease;
}

button:hover {
  background: #00e5b4;
}


/* Full screen center */
.home-container {
  height: 100vh;
  width: 100%;
  background: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Box */
.home-box {
  background: #161616;
  padding: 40px 50px;
  border-radius: 14px;
  text-align: center;
  border: 1px solid #242424;
  box-shadow: 0 0 20px rgba(0,255,200,0.08);
}

/* Heading */
.home-box h1 {
  color: #00ffc8;
  margin-bottom: 10px;
  font-size: 32px;
}

/* Subtitle */
.home-box p {
  color: #dcdcdc;
  font-size: 17px;
}
